:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

html {
  max-width: 800 px;
}

h1#h1 {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 60px;
  font-variant: small-caps;
  font-weight: 100;
}

h2,
h3 {
  text-align: center;
  margin: 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 800;
  font-variant: small-caps;
}

h4#h4 {
  text-align: center;
  margin: 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 800;
}

p#about {
  font-size: 20px;
  padding: 0px 20px;
}

img#btn-img {
  padding: 10px 10px 21px 10px;
  border: 1px solid #bfbfbf;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
}

img#profile-image {
  display: block;
  margin: 0 auto;
  width: 284px;
  padding: 10px 10px 35px 10px;
  border: 1px solid #bfbfbf;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
}

#container-body {
  margin: 30px;
}

#h2 {
  font-size: 48px;
}

#h3 {
  font-size: 24px;
  opacity: 0.7;
  margin-bottom: 0;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
}

.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

.app-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

@media (max-width: 800px) {
  h1#h1 {
    font-size: 42px;
    margin: 0 auto;
    display: block;
  }

  h2#h2 {
    font-size: 32px;
    margin: 0 auto;
    display: block;
  }

  h3#h3 {
    font-size: 24px;
    margin: 0 auto;
    display: block;
  }

  h4#h4 {
    font-size: 32px;
  }

  p#p-intro {
    font-size: 16px !important;
    line-height: 20px !important;
    display: block !important;
    margin: 0 auto !important;
    padding: 0px 20px !important;
  }

  p#p-intro-end {
    font-size: 16px !important;
    line-height: 20px !important;
    display: block !important;
    margin: 0 auto !important;
    padding: 0px 20px 20px !important;
  }

  p#about {
    font-size: 16px !important;
    display: block !important;
    margin: 0 auto !important;
  }

  .navigation-links {
    text-align: center;
    font-size: 16px;
  }

  .about-link {
    text-align: center;
    border-radius: 4px;
  }

  .app-link {
    display: block;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  a.email-link {
    font-size: 20px;
    display: block;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }
}
